{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Stock</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ row["symbol"]}}</td>
                <td>{{ row["name"]}}</td>
                <td>{{ row["price"]}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
